@charset 'utf-8';
/* CSS Document */


/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}

/* common */
body {font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #222222; background: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; height: 40px; text-align: center; line-height: 40px; font-size: 16px; background: rgba(0, 0, 0, 0.5); color: #ffffff; transition: top 0.3s; z-index: 10000;}
#skip-nav:focus {top: 0;}

/* header */
#header {position: fixed; top: 0; left: 0; height: 80px; width: 100%; min-width: 1024px; background: white; z-index: 1000;}
#header::before {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 0; width: 100%; height: 1px; background: lightgray;}
#header h1 {position: absolute; left: 100px; display: inline-block; width: 110px; height: 80px; z-index: 1100; top: 14px;}



/* navigation bar */
#gnb {position: fixed; width: 100%; top: 0; left: 0; z-index: 100; min-width: 850px;}
#gnb > ul {float: right;}
#gnb > ul > li {float: left; text-align: center;}
#gnb > ul > li + li {margin-left: 5px;}
#gnb > ul > li > a {position: relative; height: 80px; line-height: 80px; min-width: 80px;  display: inline-block; font-size: 15px; right: 100px;}
#gnb > ul > li > a.gnb_title:hover::after {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 0; width: 100%; height: 2px; background: #000000;}
#gnb > ul > li > a.gnb_title:hover {text-decoration: underline;}
#gnb .gnb_button {background: #fede22; width: 150px; top: 15px; height: 50px; line-height: 50px; border-bottom-left-radius: 30px; border-top-left-radius: 30px; border-bottom-right-radius: 30px; border-top-right-radius: 30px;}
#gnb > ul > li > ul {position: absolute; left: 0; width: 100%; box-sizing: border-box; padding: 40px 30px; background: white;}

/* 구현이 어려워 웹페이지 참고 */
.nav-sub {display: table; width: 1080px; margin: auto; }
.nav-sub-item {display: table-cell; text-align: center; width: 20%;}
/* ------------------------- */

.nav-sub-item > a {display: inline-block; font-size: 16px; font-weight: 700; margin-top: 20px;}
.nav-sub-item > a:hover {text-decoration: underline;}
.nav-sub-item > ul > li {margin: 20px 0; font-size: 13px;}
.nav-sub-item > ul > li:hover {text-decoration: underline;}


/* footer */
#footer {position: relative; background: #eeeeee; height: 160px;}
#footer ul.content {position: absolute; width: 100%; top: 35px; left: 90px; font-size: 11px; color: #666666;}
#footer ul.content li {position: relative; display: inline-block; padding: 0 20px; height: 20px; line-height: 20px;}
#footer ul.content li a.bold {font-weight: 700; color: #000000;}
#footer ul.content li > a:hover {text-decoration: underline;}
#footer ul.content li + li > a::before {content: ''; position: absolute; left: 0; width: 1px; height: 100%; background: lightgray;}

#footer p {position: absolute; display: inline-block; top: 72px; font-size: 11px; color: #888888;}
#footer p.contact {left: 110px;}
#footer p.contact em {font-weight: 700; color: #000000;}
#footer p.copyright {font-size: 10px; left: 27%;}

#footer ul.site {position: absolute; bottom: 30px; right: 100px;}
#footer ul.site li {display: inline-block; padding: 0 5px;}

#footer > a {position: absolute; bottom: 10px; left: 110px; font-size: 13px; color: #666666; font-weight: 700; display: block; line-height: 32px; height: 32px; }
#footer > a img {width: 48px; padding-right: 10px;}


/* main */
#main-bank {position: relative; top: 80px; left: 0; height: 1000px; overflow: hidden;}
#main-bank div.content {position: absolute; top: 130px; left: 50%; transform: translate(-50%, 0); text-align: center;}
#main-bank h3 {font-size: 38px; font-weight: 400;}
#main-bank p {font-size: 15px; margin-top: 30px;}
#main-bank div.image-slide {position: relative; overflow: hidden; top: 40%;}
#main-bank div.image-slide img {width: 100%; top: 0; left: 0; transform: translate(0, -25%);}
div.image-slide p.dummy {opacity: 0;}
#main-bank div.image-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-bank div.image-slide ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block;}

#main-history {position: relative; margin-top: 150px; top: 0; left: 0; height: 1650px;}
#main-history > ul {position: absolute; left: 50%; transform: translate(-50%, 0);}
#main-history > ul > li + li {margin-top: 40px;}
#main-history > ul > li {display: block; top: 0; left: 0;}
#main-history .year {position: absolute; display: inline-block; font-size: 24px; font-weight: 700; color: #333333;}
#main-history > ul > li > ul {position: relative; display: block; left: 80px; margin-left: 20px;}
#main-history > ul > li > ul > li {display: block; height: 40px; line-height: 40px; font-size: 16px; color: #333333;}
#main-history .month {color: #888888; display: inline-block; width: 60px;}

#main-brand_mv {display: none;}

#main-BI {display: none;}
