@charset 'utf-8';
/* CSS Document */


/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table, blockquote {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 400;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.pc {display: none !important;}
br.only-w {content: '';}
br.only-w:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}

/* common */
body {font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #222222; background: #ffffff;}
#wrapper {min-width: 320px; max-width: 850px; overflow: hidden; margin: 0 auto;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; background: rgba(0, 0, 0, 0.6); z-index: 10000; transition: top 0.3s;}
#skip-nav:focus {top: 0;}

/* header */
#header {position: fixed; top: 0; left: 0; height: 60px; width: 100%; background: white; z-index: 1000;}
#header::before {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 0; width: 100%; height: 1px; background: lightgray;}
#header h1 {position: absolute; left: 20px; width: 80px; height: 60px; top: 5px;}
#header a.menu {position: absolute; right: 20px; top: 50%; transform: translate(0, -50%); font-size: 24px; line-height: 0;}

/* navigation bar */
#gnb {position: fixed; right: -100%; top: 0; width: 100%; height: 100%; background: #ffffff; overflow-y: scroll; z-index: 100;}
#gnb.open {right: 0;}
#gnb a.close {position: absolute; right: 20px; top: 20px; width: 25px;}
#gnb > ul {margin-top: 70px;}
#gnb > ul > li > a {position: relative; display: block; box-sizing: border-box; margin: 0 20px; padding: 20px 0; font-size: 17px;}
#gnb > ul > li > a::before {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 0; width: 100%; height: 1px; background: lightgray;}

.nav-sub-item > a {background: pink; margin : 0 20px; display: block; box-sizing: border-box; margin: 0 20px; padding: 10px 0; font-size: 15px; margin-top: 5px;}
.nav-sub-item > ul {margin: 0 20px; background: #F7F7F7;}
.nav-sub-item > ul > li {background: yellow; display: block; box-sizing: border-box;  padding: 5px 0; font-size: 12px; margin-left: 10px; margin-top: 5px;}

/* 네비게이션바는 어떻게 구현할지에 대해 조금 더 생각해보기!!!!!!! */


/* main */
#main h3 {font-size: 25px; line-height: 1.35; color: #111111;}
#main p {font-size: 14px; padding: 20px 0; line-height: 1.7; color: #666666;}
#main div.content_box {position: absolute; left: 50%; transform: translate(-50%, 0); top: 0; width: 100%; height: 100%;}
#main div.section_line {position: relative; height: 16px; background: #fafafa;}
#main div.content {position: absolute; top: 60px; text-align: center; width: 100%;}
#main a {display: inline-block; background: #f6f6f6; width: 210px; height: 48px; line-height: 48px; text-align: center; margin-top: 20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 15px; color: #333333;}
#main a:hover {text-decoration: underline;}


#main-appstore {position: relative; top: 60px; left: 0; width : 100%; height: 650px; background: #fede22}
#main-appstore span.img1 img {position: absolute; width: 220px; top: 130px; left: 50%; transform: translate(-50%, 0);}
#main-appstore span.img2 img {position: absolute; width: 330px; bottom: 0; left: 50%; transform: translate(-50%, 0);}
#main-appstore h3 {font-size: 40px; color: #333333;}
#main-appstore p {display: none;}
#main-appstore a {display: inline-block; background: white; width: 180px;  height: 58px; line-height: 57px; text-align: center; margin-top: 400px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-weight: 700; font-size: 17px; color: #333333;}
#main-appstore a + a {margin-left: 10px;}
#main-appstore a > img {padding-right: 10px;}
#main-appstore a:hover {text-decoration: underline;}

#main-withdrawal {position: relative; top: 0; left: 0; width: 100%; height: 810px; margin-top: 80px;}
#main-withdrawal img {position: absolute; width: 319px; bottom: 30px; left: 50%; transform: translate(-50%, 0);}

#main-savings {position: relative; top: 0; left: 0; width: 100%; height: 720px;}
#main-savings h3 {font-size: 26px;}
#main-savings a {display: inline-block; background: #f6f6f6; width: 158px; height: 48px; line-height: 48px; text-align: center; margin-top: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 15px; color: #333333;}
#main-savings a:hover {text-decoration: underline;}
#main-savings a + a {margin-left: 5px;}
#main-savings img {position: absolute; width: 289px; bottom: 0; left: 50%; transform: translate(-50%, 0);}

#main-moim {position: relative; top: 0; left: 0; width: 100%; height: 730px;}
#main-moim img {position: absolute; width: 268px; bottom: 30px; left: 50%; transform: translate(-50%, 0);}

#main-26weeks {position: relative; top: 0; left: 0; width: 100%; height: 697px;}
#main-26weeks img {position: absolute; width: 351px; bottom: 70px; left: 50%; transform: translate(-50%, 0);}

#main-foreignRemittance {position: relative; top: 0; left: 0; width: 100%; height: 900px;}
#main-foreignRemittance img.map {position: absolute; bottom: 130px; left: 50%; transform: translate(-50%, 0);}
#main-foreignRemittance img.main-foreignRemittance {position: absolute; width: 289px; bottom: 30px; left: 50%; transform: translate(-50%, 0);}


#main-loan {position: relative; top: 0; left: 0; width: 100%; height: 800px; background: #333b58;}
#main-loan a {width: 159px; background: rgba(255,255,255,0.09); color: white; margin: 5px;}
#main-loan img {position: absolute; width: 350px; bottom: 0; left: 50%; transform: translate(-50%, 0);}
#main-loan h3 {color: white; font-size: 26px;}
#main-loan p {color: white;}

#main-card {position: relative; top: 0; left: 0; width: 100%; height: 640px;}
#main-card .prev {position: absolute; top: 70%; transform: translate(0, -70%); left: 10%; width: 20px; background: none;}
#main-card .next {position: absolute; top: 70%; transform: translate(0, -70%); right: 10%; width: 20px; background: none;}

#main-card div ul li img {position: absolute; display: none; bottom: 30px; left: 50%; transform: translate(-50%, 0); width: 177px; height: 280px;}

/* 이미지 슬라이드 넣기 */
/* center */
#main-card div ul li.center img {display: block; z-index: 1;}
/* left */
#main-card div ul li.left img {display: block; left: 34%; bottom: 60px; width: 137px; height: 215px;}
/* right */
#main-card div ul li.right img {display: block; left: 66%; bottom: 60px; width: 137px; height: 215px;}

#main-it {position: relative; top: 0; left: 0; width: 100%; height: 1109px; background: #f9f9f9;}
#main-it h3 {position: absolute; display: block; left: 50%; transform: translate(-50%,0); text-align: center; top: 60px;}
#main-it h3::after {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: -40px; width: 30%; height: 1px; background: black;}
#main-it ul {position: relative; display: block; width: 100%; left: 0px; text-align: center; height: 210px;}
#main-it ul li {position: absolute; display: block; width: 100%; top: 200px}
#main-it ul li:nth-child(2) {margin-top: 300px;}
#main-it ul li:nth-child(3) {margin-top: 600px;}
#main-it ul li + li::before {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); top: -20%; width: 70%; height: 1px; background: lightgray;}
#main-it ul li img {width: 100px; display: block; position: relative; left : 50%; transform: translate(-50%, 0); margin-bottom: 20px;}
#main-it ul li strong {font-size: 18px; color: #000000;}
#main-it ul li p {font-size: 14px;}


#footer {display: none;}